<!DOCTYPE html>
<html>
{% include "header.html" %}
<head>
    <link type=text/css rel=stylesheet href="{{url_for('static', filename='styles.css')}}">
</head>
<body class="places">
<form action="{{url_for('editplaces' ,country_id=country_id, places_id=places_id, places=editedplaces)}}"
  method="POST">
  <fieldset>
  <legend>Edit places</legend>
  Name:
  <input type="text" size="30" name="name" placeholder = '{{places.name}}' required><br>
  Description:
  <input type="text" size="30" name="description" placeholder = '{{places.description}}' required><br>
  country:
  <select name="country_id" required>
    <option value="" >--Select--</option>
    <option value=1 >India</option>
    <option value=2 >Australia</option>
    <option value=3 >England</option>
    <option value=4 >Paris</option>
    <option value=5 >USA</option>
    <option value=6 >Mexico</option>
    <option value=7 >SriLanka</option>
    <option value=8 >Maldives</option>
  </select>
  </br></br>
  <input type="submit" value ="Update"><br><br>
  <input type="reset" value="Reset">
  <a href = "{{url_for('showCatalog')}}"><input type="button" value="Cancel"></a>
  </br></br>
  </fieldset>
</form>
</body>
</html>
