<!DOCTYPE html>
<html>
{% include "header.html" %}
<head>
    <link type=text/css rel=stylesheet href="{{url_for('static', filename='styles.css')}}">
</head>
<body class="places">
<form action="{{url_for('newPlace')}}"
  method="POST">
  <fieldset>
  <legend>Add places</legend>
  Name:<br>
  <input type="text" size="30" name="name" required><br>
  Description:<br>
  <input type="text" size="30" name="description" required><br>
  country:<br>
  <select name="country_id" required>
    <option value="">--Select--</option>
    <option value=1 >India</option>
    <option value=2 >Australia</option>
    <option value=3 >England</option>
    <option value=4 >Paris</option>
    <option value=5 >USA</option>
    <option value=6 >Mexico</option>
    <option value=7 >Sri Lanka</option>
    <option value=8 >Maldives</option>
  </select>
  </br></br>
  <input type="submit" value ="Add"><br><br>
  <input type="reset" value="Reset">
  <a href = "{{url_for('showCatalog')}}"><input type="button" value="Cancel"></a>
  </br></br>
  </fieldset>
</form>
</body>
</html>
